<div>
  <ng-template #customLoadingTemplate>
    <div class="custom-class">
    </div>
  </ng-template>
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate">
  </ngx-loading>
  <div id="races">
    <div>
      <div>
        <h1>CORRIDAS</h1>
      </div>
    </div>
    <div class="form-row mt-2 mb-2 new-button">
      <!-- <button type="button" class="btn btn-outline-primary">
        UPLOAD NOVO ARQUIVO DE LOG
      </button> -->
       Faça o upload de um novo arquivo de log.
      &nbsp;&nbsp;<input type="file" (change)="onFileSelected($event)">
    </div>
    <table class="table table-striped">
      <thead class="thead-light">
        <tr>
          <th>#</th>
          <th>Numero de Voltas</th>
          <th>Detalhe</th>
          <th></th>
        </tr>
      </thead>
      <tbody *ngIf="races && races.length">
        <tr *ngFor="let race of races; let i = index">
          <td>{{i+1}}</td>
          <td>{{race.numberOfLaps}}</td>
          <td>
            <button type="button" class="btn btn-outline-primary" (click)="openPage(race.raceId)">
              VER CLASSIFICAÇÃO
            </button>
          </td>
          <td>
            <button type="button" class="btn btn-outline-danger" (click)="deleteRace(race)">
              REMOVER CORRIDA
            </button>
          </td>
        </tr>
      </tbody>
      <tfoot *ngIf="!races || races.length < 1">
        <tr>
          <td colspan="7" class="text-center">
            Nenhum registro encontrado!
          </td>
      </tfoot>
    </table>
  </div>
</div>
