<div>
  <ng-template #customLoadingTemplate>
    <div class="custom-class">
    </div>
  </ng-template>
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate">
  </ngx-loading>
  <div id="standings">
    <div>
        <div>
          <h1>CLASSIFICAÇÃO - CORRIDA {{raceId}}</h1>
        </div>
    </div>
    <div class="form-row mt-2 mb-2 new-button">
      <button type="button" class="btn btn-outline-primary" routerLink="../../races">
        VOLTAR
      </button>
    </div>
    <table class="table table-striped">
      <thead class="thead-light">
        <tr>
          <th>Posição</th>
          <th>Codigo Piloto</th>
          <th>Nome</th>
          <th>Voltas Completas</th>
          <th>Tempo</th>
        </tr>
      </thead>
      <tbody *ngIf="race.drivers && race.drivers.length">
        <tr *ngFor="let driver of race.drivers; let i = index">
          <td>{{i+1}}</td>
          <td>{{driver.driverCode}}</td>
          <td>{{driver.name}}</td>
          <td>{{driver.laps.length}}</td>
          <td>{{returnHours(driver.totalTime)}}</td>
        </tr>
      </tbody>
      <tfoot *ngIf="!race.drivers || race.drivers.length < 1">
        <tr>
          <td colspan="7" class="text-center">
            Nenhum registro encontrado!
          </td>
      </tfoot>
    </table>
  </div>
</div>
