<div>
  <div id="races">
    <div>
        <h1>CLASSIFICAÇÃO</h1>
    </div>
    <table>
      <thead>
        <tr>
          <th>Id</th>
          <th>Numero de Voltas</th>
          <th>Data</th>
        </tr>
      </thead>
      <!-- <tbody *ngIf="registrosFiltrados && registrosFiltrados.length">
        <tr *ngFor="let registro of registrosFiltrados">
          <tr>
          <td>{{registro.id}}</td>
          <td>{{registro.valor}}</td>
          <td>{{registro.data | DateTimeFormatPipe}}</td>
        </tr>
      </tbody> -->
      <tfoot *ngIf="true">
        <tr>
          <td colspan="7" class="text-center">
            Nenhum registro encontrado!
          </td>
      </tfoot>
    </table>
  </div>
</div>
