<div>
  <div id="standings">
    <div>
        <div>
          <h1>CLASSIFICAÇÃO - CORRIDA {{raceId}}</h1>
        </div>
    </div>
    <div class="form-row mt-2 mb-2 new-button">
      <button type="button" class="btn btn-outline-primary" routerLink="../../races">
        VOLTAR
      </button>
    </div>
    <table class="table table-striped">
      <thead class="thead-light">
        <tr>
          <th>Posição</th>
          <th>Codigo Piloto</th>
          <th>Nome</th>
          <th>Voltas Completas</th>
          <th>Tempo</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
      <tfoot *ngIf="true">
        <tr>
          <td colspan="7" class="text-center">
            Nenhum registro encontrado!
          </td>
      </tfoot>
    </table>
  </div>
</div>
